@import "./reset.css";

*a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10 20px;
  padding: 5px 20px 5px 20px;
}

.left {
  /* margin-left:10px;
  padding-top: 20px; */
  align-self: center;
  justify-self: start;
  display: flex;
}

.left img {
  width: 16px;
  vertical-align: middle;
}
.menu-icon {
  margin-right: 20px;
}
.left span a {
  padding-left: 20px;
  color: black;
  font-weight: 800;
  text-decoration: none;
}
.left span a:hover {
  text-decoration: underline;
}
.right {
  /* margin-right: 20px;
  padding-top: 15px; */
  align-self: center;
  justify-self: end;
}

.right button {
  color: #fff;
  background-color: #326891;
  border: none;
  border-radius: 6px;
  height: 30px;
}
.center {
  align-self: center;
  justify-self: center;
}
.center img {
  width: 195px;
}
