@import "./reset.css";
* {
  font-family: Arial, Helvetica, sans-serif;
}
*a {
  text-decoration: none;
}
.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10 20px;
  padding: 5px 20px 0 20px;
  border-bottom: 1px solid gray;
  background-color: white;
}

.left {
  align-self: center;
  justify-self: start;
  display: flex;
}

.left img {
  width: 16px;
  vertical-align: middle;
}

.menu-icon {
  margin-right: 20px;
}

.article a {
  color: #333;
  text-decoration: underline;
}

.text p a {
  color: #4680ac;
}

.left span a {
  padding-left: 20px;
  color: black;
  font-weight: 800;
  text-decoration: none;
}

.left span a:hover {
  text-decoration: underline;
}

.right {
  align-self: center;
  justify-self: end;
}

.right button {
  color: #fff;
  background-color: #4680ac;
  border: none;
  border-radius: 3px;
  height: 30px;
  font-weight: 600;
  padding: 0 10px;
  margin-bottom: 3px;
}

.right button:hover {
  background-color: #326891;
}

.center {
  align-self: center;
  justify-self: center;
}

.center img {
  width: 195px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
  margin-top: 40px;
}

.title {
  grid-column: 3/4;
  grid-row: 1/2;
  margin-bottom: 30px;
}

.title h1 {
  font-size: 2.5rem;
  font-style: italic;
  font-family: "Ashbury W01 Bold Italic", nyt-cheltenham, georgia,
    "times new roman", times, serif;
}

.img {
  grid-column: 2/5;
}

.img img {
  width: 100%;
}

.caption {
  color: #cdcecd;
}

.title-caption {
  text-align: left;
  color: #888;
  grid-column: 2/4;
  font-size: 18px;
  margin-bottom: 40px;
}

.article {
  grid-column: 3/4;
}

.auther {
  color: #333;
  font-size: 22px;
  margin-bottom: 5px;
}

.date {
  margin-top: 40px;
}

.socials {
  float: right;
}

.socaials-list li {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.socaials-list img {
  width: 14px;
  height: 14px;
  text-align: center;
  vertical-align: middle;
}

.btn {
  border-radius: 50%;
  background-color: #eee;
  vertical-align: baseline;
  text-align: center;
}

.sub-info {
  margin-top: 10px;
}

.text {
  margin-top: 24px;
}

.text p {
  margin-top: 20px;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #333;
}
.text h2 {
  font-weight: 700;
  font-size: 20px;
  margin: 20px auto;
  color: #333;
}
.accounts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}
.accounts p {
  font-weight: bold;
  font-size: 14px;
  margin-top: auto;
  line-height: 1.6em;
}
.accounts p a {
  text-decoration: none;
}
.div-line {
  border: 0.05px solid lightgrey;
  width: 60px;
  margin: 15px auto;
}
.inflation {
  grid-column: 2/5;
}
.inflation-item {
  position: relative;
  font-size: 14px;
  font-weight: 300;
}
.bold {
  font-weight: bold;
}
.inflation-img {
  max-width: 100%;
  min-width: 820px;
}
.box {
  position: absolute;
  width: 23%;
}
.line-one {
  top: 24%;
}
.line-two {
  top: 75%;
}
.box1,
.box5 {
  left: 1%;
}
.box2,
.box6 {
  left: 26%;
}
.box3,
.box7 {
  left: 51%;
}
.box4,
.box8 {
  left: 76%;
}
.youtube-video {
  margin-top: 60px;
  width: 100%;
  height: 300px;
}
.yt-cap1 {
  color: #666;
}
.yt-cap2 {
  color: #888;
  font-size: 12px;
}
.yt-caps {
  margin-top: 10px;
  vertical-align: auto;
  width: 80%;
}
.sattelite img {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}
.sat1 {
  color: #666;
}
.sat2 {
  color: #888;
  font-size: 12px;
}
.sattelite {
  margin-bottom: 40px;
}
.text-footer p {
  color: #888;
  font-size: 12px;
}
.text-footer p a {
  color: #888;
}
.foot-socials li {
  margin-left: 10px;
}
.popular-space {
  margin: 5px 6vw 0 6vw;
  display: flex;
  justify-content: space-between;
}
.space {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ppl-item {
  width: 33%;
}
.ppl-item img {
  width: 100%;
}
