@import "./reset.css";

*a{
  text-decoration: none;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10 20px;
}

.left{
  margin-left:10px;
  padding-top: 20px;
}

.left img {
  width: 16px;
  padding-left: 20px;
  vertical-align: middle;
}

.left span a{
  padding-left: 20px;
  color: black;
  font-weight:800;
}

.right {
  margin-right: 20px;
  padding-top: 15px;
}

.right button{
  color:#fff;
  background-color: #326891;
  border-radius: 6px;
  height: 30px;
}

.center img {
  width: 195px;
  padding-top: 20px;
}

