@import "./reset.css";

*a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10 20px;
  padding: 5px 20px 0 20px;
}

.left {
  /* margin-left:10px;
  padding-top: 20px; */
  align-self: center;
  justify-self: start;
  display: flex;
}

.left img {
  width: 16px;
  vertical-align: middle;
}
.menu-icon {
  margin-right: 20px;
}
.left span a {
  padding-left: 20px;
  color: black;
  font-weight: 800;
  text-decoration: none;
}
.left span a:hover {
  text-decoration: underline;
}
.right {
  align-self: center;
  justify-self: end;
}

.right button {
  color: #fff;
  background-color: #4680ac;
  border: none;
  border-radius: 3px;
  height: 30px;
  font-weight: 600;
  padding: 0 10px;
}

.right button:hover {
  background-color: #326891;
}
.center {
  align-self: center;
  justify-self: center;
}
.center img {
  width: 195px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
  margin-top: 40px;
}
.title {
  grid-column: 3/4;
  grid-row: 1/2;
  margin-bottom: 30px;
}
.title h1 {
  font-size: 2.5rem;
  font-family: "Ashbury W01 Bold Italic", nyt-cheltenham, georgia,
    "times new roman", times, serif;
}
.img {
  grid-column: 2/5;
}
.img img {
  width: 100%;
}
